@import "~normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Quicksand:400,500');

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html,
body {
    width: 400px;
    max-height: 400px;
    overflow: hidden;
}

.appComponent {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: #998D9F;
    background-color: #FCFBFC;
    border: 2px solid rgb(240, 240, 240);

    .header {
        font-family: 'Quicksand', sans-serif;

        text-align: center;
        font-size: 13px;
        font-weight: 800;
        text-transform: uppercase;
        color: #A8A8A8;
        letter-spacing: 8px;
        padding: 15px 0;
    }

    .separator {
        height: 5px;
        background: linear-gradient(to right, #ae81c5 0%, #e6a8dd 100%);
    }

    .body {
        display: flex;
        flex-direction: column;
    }
}
